[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = ?????
[access "refs/*"]
	owner = group user/dotnetkorea
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/dotnetkorea
	label-Verified = -1..+1 group user/dotnetkorea
	push = group user/dotnetkorea
	read = group user/dotnetkorea
	rebase = group user/dotnetkorea
	removeReviewer = group user/dotnetkorea
	submit = group user/dotnetkorea
[access "refs/heads/*"]
	create = group user/dotnetkorea
	push = +force group user/dotnetkorea
	pushMerge = group user/dotnetkorea
	read = group user/dotnetkorea
[access "refs/tags/*"]
	push = group user/dotnetkorea
	push = +force group user/dotnetkorea
